
        .banner{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("../images/cover1.jpg");
            background-size: cover;
            background-position: center;
        }

        .content{
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: aliceblue;
            font-family: 'Roboto Slab', serif;

        }
        
          .preloader {
                position: absolute;
                top: 0;
                left: 0;
                bottom:0;
                right:0;
                width: 100%;
                height: 100vh;
                z-index: 99999999;
                background-image: url('../images/Infinity-1s-200px.gif'); /* your icon gif file path */
                background-repeat: no-repeat;
                background-color: #FFF;
                background-position: center;
}

        #stop-scrolling {
        height: 100% !important;
        overflow: hidden !important;
        }

        