<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <title>Farm Healthily</title>
    <script>

        function preloaderFadeOutInit(){
                $('.preloader').fadeOut('slow');
                $('body').attr('id','');
            }
        
        // Window load function
        jQuery(window).on('load', function () {
            (function ($) {
                preloaderFadeOutInit();
            })(jQuery);
            });

    </script>

</head>

<body id="stop-scrolling">

    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader ending -->
    
    
    <!-- ------------Landing page ------------ -->
   <section class="banner">
    
        <div class="jumbotron text-center content">
            <div class="content">
                <h1 class="display-3"> Farm Healthily</h1>
                <p style="line-height: 20px;  font-family: 'Major Mono Display', monospace;" class="lead">produce healthy product</p>
                <p class="lead" style=" font-family: 'Major Mono Display', monospace;">eat healthy food</p>
                <p class="rainbow-text font-weight-light">(AI powerd)</p>
                <a href="#classify"><button class="btn-rounded btn btn-success">Get Started</button></a>
                
            </div>
            
        </div>
    </section>
    <!-- ------------Landing page ending ------------ -->

    <!-- about part -->

    <section class="p-3 m-4">
        <div class="container">
            <div class="jumbotron text-center">
                <div class="display-6" style="font-family: 'Roboto Slab', serif;">
                Why Farm Healthily ?</div>

                <p class="lead pt-3">We find that every famers are facing different different problem about their plant.</p>
            </div>

            <br><hr>
        </div>
    </section>

    <!-- about part ending -->


    <section class="p-2 m-3 pb-3 mb-4">
        <div class="container">

            <div class="jumbotron text-center">
                <div class="display-6" style="font-family: 'Roboto Slab', serif;">
                Bacteria in plant leaf affect the fruit.</div>
                
                        <div class="card mx-auto pt-5" style="max-width: 25rem;">
                            <img id = "output" class="card-img-top" src="{{ url_for('static', path='/images/tomato.jpg') }}">
                        </div>
        

    
                        <p class="lead pt-5 pl-5 pr-5" style="text-align: left;">
                        Bacterial spot reduces tomato yield and quality by defoliation and spotting of fruit.
                        Bacterial spot is also a serious disease of pepper.
                        The bacteria survive on diseased plant debris and on tomato seed.
                        Leaves, stems and fruit may be infected at any growth stage when 
                        plants are wet and temperatures range from 75 F to 86 F. </p>
                </div>
                
            </div>

        <br><hr>

    </section>


    <!-- ------------ Image uploading part ------------ -->
    <section class="m-4 p-4" style="background-color: rgb(238, 238, 238);" id = "classify">

        <div class="container">
    
                <div class="jumbotron">
                    <h2 class="display-7" style="font-family: 'Roboto Slab', serif;"> Upload a snap of your plant leaf.</h1>
                    <p class="lead"> We'll help you to farm better.</p>
                </div>


                <hr class="mt-2 mb-3"/>

                <div class="col-md-12 col-12 col-sm-12 col-lg-12 pb-2">
                    <div style="display: none;" id="displayImagediv">
                        <div class="card mx-auto" style="max-width: 30rem;">
                            <img id = "output" class="card-img-top">
                            <div class="card-body" id = "predicted_display" style="display: none;">
                                <p class="card-text lead text-center" id = "predicted">
                                </p>
                              </div>
                        </div>
                    </div>
                </div>
                
            
                <form id = 'upload-file' method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-12" id = "selector">
                            <label class="text-success display-10">Plant : </label>
                    
                            <select id="select" class="form-select pt-1" aria-label="Default select example" style="max-width: 50%; min-width: 40%;">
                                <option value="tomato" selected>Tomato</option>
                                <option value="grapes"> Grapes </option>
                                <option value="potato">Potato</option>
                                <option value="strawberry">Strawberry</option>
                            </select>
                        
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 col-12 pt-4">

                            <input name="file" type="file" id = "file" onchange="loadFile(event);" accept="image/*" style="display:none;" required/>
                            <label for="file" style="cursor: pointer;" id="choose" class="btn btn-success btn-rounded">Choose File</label>
                            <button type="button" class="btn-rounded btn btn-success" style="display: none;" id = "upload">Upload</button>
                            
                            <div id = "spinner" style="display: none;">
                                <div class="spinner-border text-success" role="status"></div>
                            </div>
                        
                        </div>

                    </div>
                </form>

                <button class="btn btn-primary btn-rounded mx-auto" id="classify-again" style="display: none;" onclick="window.location.reload()">
                    Classify Again
                </button>

        </div>

    </section>

    <!-- ------------Image uploading part ending ------------ -->


    <!-- ---------------Footer------------ -->
    <footer class="ftco-footer ftco-bg-dark ftco-section" style="background-color:rgb(65, 65, 65); color: white;">
        <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <p class="m-2 p-2">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with ❤ by <a>LKA</a>
        </p>
        </div>
        </div>
        </div>
    </footer>

    <!-- ---------------Footer------------ -->

<script src="{{ url_for('static', path='/js/main.js') }}"></script>


<script>

$(function() {
    $('#upload').click(function() {
        document.getElementById("upload").style="display: none";
        document.getElementById('spinner').style = "display: block";
        
        var plant = $("#select").val()
        var form_data = new FormData($('#upload-file')[0]);
        form_data.append('plant', plant);
        console.log(form_data);
        $.ajax({
            type: 'POST',
            url: '/uploadfile',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log("request posted");
                console.log(data);
                document.getElementById('predicted_display').style = "display: block"
                document.getElementById('spinner').style = "display: none";
                document.getElementById('predicted').innerHTML = "Detected that "+plant+" leaf is a " + data.predicted + " leaf.";
                document.getElementById('selector').style = "display: none"
                document.getElementById('classify-again').style = 'display: block';
            },
        });
    });
});

</script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>


</body>
</html>