<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <h1> Image Upload </h1>

    <img id = "output" width="600px" height="300px" style="display: none;">
    
    <form action="/uploadfile/" enctype="multipart/form-data" method="post">
        <input name="file" type="file" id = "file" onchange="loadFile(event);" accept="image/*" style="display:none;"/>
        <label for="file" style="cursor: pointer;" id="choose">Choose File</label>
        <button type="submit">Upload</button>
    </form>
    
    
    

</body>
<script src="{{ url_for('static', path='/js/main.js') }}"></script>
</html>