<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <h1> Image Upload </h1>
    <input type = 'file' accept="image/*" id="file", style="display: none;"
            onchange="loadFile(event)">
    <label for="file" style="cursor: pointer;" id="choose">Choose File</label>
    <img id = "output" width="200px">

</body>
<script src="{{ url_for('static', path='/js/main.js') }}"></script>
</html>